
{% highlight js linenos %}
    var aa = 'test';

    function tesst ( bb ) {
        return bb;
    }
{% endhighlight %}

<h2>Docs</h2>
<ul class="docs-list">
    {% for doc in site.docs %}
        <li>
            <a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
            <span class="cat">{{ doc.category }}</span>
        </li>
    {% endfor %}
</ul>

<h2>Categories</h2>
<ul class="categories-list">
    {% assign categories = site.docs | group_by:"category" %}
    {% for category in categories %}
        <li>
            <ul class="category">
                {% for doc in category %}
                    <li>
                        <a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
                        <span class="cat">{{ doc.category }}</span>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>