
{% highlight js linenos %}
    var aa = 'test';

    function tesst ( bb ) {
        return bb;
    }
{% endhighlight %}

<h2>Docs</h2>
<ul class="docs-list">
    {% for doc in site.docs %}
        <li>
            <a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
            <span class="path">{{ doc.path }}</span>
            <span class="date">{{ doc.date }}</span>
        </li>
    {% endfor %}
</ul>

<h2>Categories</h2>
<ul class="category-list">
    {% for category in site.categories %}
        <h3>{{ category[0].category }}</h3>
        <ul class="category-list">
            {% for doc in category %}
                <li>
                    <a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
                    <span class="path">{{ doc.path }}</span>
                    <span class="date">{{ doc.date }}</span>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</ul>