{% assign data=site.data[page.category][page.title] %}

<h1>{{ data.title }}</h1>

<div class="spec">
    <p><span class="accent">Type</span> : {{ data.type }}</p>
    <p><span class="accent">Support</span> : {{ data.support }}</p>
    {% if data.extend %}
    <p><span class="accent">Extend</span> : <a href="{{ site.baseurl }}/docs{{ data.extend.path }}">{{ data.extend.label }}</a></p>
    {% endif %}
    {% if data.return %}
    <p><span class="accent">Return</span> : {{ data.return }}</p>
    {% endif %}
</div>

<div class="description">
    <ul>
        {% for desc in data.description %}
        <li>{{ desc }}</li>
        {% endfor %}
    </ul>
</div>

{% if data.methods %}
<h3>Methods</h3>
<div class="methods">
    <ul>
        {% for method in data.methods %}
        <li class="method">
            <h4><span class="accent">{{ method.name }}(</span> {% for param in method.params %}{{param.name}}{% unless forloop.last %}, {% endunless %}{% endfor %} <span class="accent">)</span>{% if method.return %} : {% for returnLabel in method.return %}<span class="type return">{{ returnLabel }}</span>{% endfor %}{% endif %}{% if method.version %}<span class="ver">{{ method.version }}</span>{% endif %}</h4>
            {% if method.desc %}
            <div class="desc">{{ method.desc }}</div>
            {% endif %}
            <ul class="params">
                {% for param in method.params %}
                <li class="param">
                    <h5><span class="accent">{{ param.name }}</span> : {% for pType in param.type %}<span class="type">{{pType}}</span>{% endfor %}</h5>
                    <div class="desc">{{ param.desc }}</div>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% if data.events %}
<h3>Events</h3>
<table>
    <thead>
        <tr>
            <th>No.</th>
            <th>type</th>
            <th>description</th>
            <th>property</th>
            <th>ver</th>
        </tr>
    </thead>
    <tbody>
    {% for event in data.events %}
        <tr>
            <td>{{ event.no }}</td>
            <td>{{ event.type }}</td>
            <td>{{ event.desc }}</td>
            <td>
                <ul>
                    {% for prop in event.properties %}
                    <li><span class="accent">{{ prop.name }}{% if rop.desc %}</span>:{% endif %} {{ prop.desc }}</li>
                    {% endfor %}
                </ul>
                {% if event.info %}
                <span class="info">{{ event.info }}</span>
                {% endif %}
            </td>
            <td>{{ event.ver }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}