{% assign data=include.model %}

<h1>{{ data.title }}</h1>

<div class="spec">
    <span>Type : {{ data.type }}</span>
    <span>Support : {{ data.support }}</span>
    {% if data.extend %}
    <span>Extend : <a href="{{ site.baseurl }}/docs{{ data.extend.path }}">{{ data.extend.label }}</a></span>
    {% endif %}
    {% if data.return %}
    <span>Return : {{ data.return }}</span>
    {% endif %}
</div>

<div class="description">
    <ul>
        {% for desc in data.description %}
        <li>{{ desc }}</li>
        {% endfor %}
    </ul>
</div>

{% if data.methods %}
<h3>Methods</h3>
<div class="methods">
    <ul>
        {% for method in data.methods %}
        <li class="method">
            <h4>{{ method.name }}({% for param in method.params %}{{param.name}}{% unless forloop.last %}, {% endunless %}{% endfor %}){% if method.return %} : <span class="type return">{{ method.return }}</span>{% endif %}{% if method.version %}<span class="ver">{{ method.version }}</span>{% endif %}</h4>
            <div class="desc">{{ param.desc }}</div>
            <ul class="params">
                {% for param in method.params %}
                <li class="param">
                    <h5>{{ param.name }} : {% for pType in param.type %}<span class="type">{{pType}}</span>{% endfor %}</h5>
                    <div class="desc">{{ param.desc }}</div>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% if data.events %}
<h3>Events</h3>
<table>
    <thead>
        <tr>
            <th>No.</th>
            <th>type</th>
            <th>detail</th>
            <th>property</th>
            <th>ver</th>
        </tr>
    </thead>
    <tbody>
    {% for event in data.events %}
        <tr>
            <td>{{ event.no }}</td>
            <td>{{ event.type }}</td>
            <td>{{ event.detail }}</td>
            <td>
                <ul>
                    {% for prop in event.properties %}
                    <li><strong>{{ prop.name }}:</strong>{{ prop.desc }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>{{ event.version }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}