<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">

    <meta name="title" content="{{ page.title }}|ixBand.js" />
    <meta name="author" content="blaxk"/>
    <meta name="description" content="{{ page.description }}"/>

    <title>ixBand.js - {{ page.title }}</title>

    <link href="{{ site.baseurl }}/assets/images/favicon.png" rel="icon">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">

    <script>
        window.UI = {
            BASE_URL: '{{ site.baseurl }}'
        };
    </script>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdn.rawgit.com/blaxk/ixband/v1.1.1/bin/ixBand_1.1.min.js"></script>
</head>
<body>
<header>
    <a class="logo" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}/assets/images/ixband_white.svg" alt="logo" width="120" height="30">home</a>
    <div class="menu">
        <ul>
            <li class="depth1">
                <a href="{{ site.baseurl }}/docs/">Documentation</a>
            </li>
            <li class="depth1">
                <a href="{{ site.baseurl }}/examples/">Examples</a>
            </li>
            <li class="depth1">
                <a href="https://github.com/blaxk/ixband/releases">Download</a>
            </li>
        </ul>
    </div>
    <div class="etc">
        <ul>
            <li class="search">
                <form action="{{ site.baseurl }}/search/" method="get">
                    <i class="fa fa-search"></i>
                    <input type="search" placeholder="Search documents" name="keyword" class="search-input">
                    <!--<button type="submit" class="btn-search">search</button>-->
                </form>
            </li>
            <li class="github">
                <a href="https://github.com/blaxk/ixband"><i class="fab fa-github"></i>github</a>
            </li>
        </ul>
    </div>
</header>
