// Breakpoints
$large-breakpoint: 1024px !default;
$medium-breakpoint: 768px !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #7700B4 !default;
$header-bg-color-secondary: #155799 !default;

// Text
$section-headings-color: #22252a !default;
$body-text-color: #333 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

// Background Color
$table-head-color: #f8f8f8 !default;
$method-h-color:#e0e9f2 !default;
