---
---

@import 'theme';

main {
  max-width: 800px;
}

#contents-area {
  max-width: 800px;
  margin: 0 auto;
  padding: 2em 2em 5em 2em;
  
  h1 {
    font-size: 4em;
    font-weight: 300;
  }
  
  h2 {
    font-weight: 300;
    margin-bottom: 10px;
  }

  h3 {
    font-weight: 600;
  }

  .old_version {
    margin-top: 1em;
    background: $table-head-color;
    padding: 1em;
    border-radius: 0.3rem;
    color: $body-text-gray-color;
  }

  .area_404 {
    h1, h2, h3, div {
      text-align: center;
    }

    h1 {
      font-size: 4em;
      margin: 3em 0;
    }

    h3 {
      margin: 1em 0;
    }
  }
}
