---
---

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no"/>

    <meta name="title" content="ixBand.js" />
    <meta name="author" content="blaxk"/>
    <meta name="description" content="ixBand.js"/>

    <title>ixBand.js</title>

    <link href="/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon"/>
    <link href="/css/common.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<header>
    Header, search
</header>
<main>
    <div id="category">
        Category
        {% include search.html %}
    </div>
    <div id="contents">
        {{ content }}
    </div>
</main>
<footer>
    Footer
</footer>
</body>
</html>